[Desktop Entry]
Exec=/home/andreas/.config/old-autostart-scripts/xKeyboard.sh
Icon=dialog-scripts
Name=xKeyboard.sh
Path=
Type=Application
X-KDE-AutostartScript=true
